.communities {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.header {
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
}

.divider {
  margin-bottom: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
}

.status {
  text-align: center;
}